<!--Barra que contienen los botones -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="../../assets/logoUD-2.png" class="logoud">
        <span>Laboratorio de Ingeniería - Salas de Informática</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary">
  
    <!--La navegación se hace a través de etiquetas a-->
    <!--<mat-icon svgIcon="../../assets/logoUD.png" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>-->
    <button mat-raised-button color="primary"><a routerLink="/sala">Salas</a></button>
    <button mat-raised-button color="primary"><a routerLink="/usuario" color="basic">Usuarios</a></button>
    <button mat-raised-button color="primary"><a routerLink="/puerta" color="basic">Puertas</a></button>
  
</mat-toolbar>
 