<mat-card >
    <mat-card-header class=titleCard>
      Componente Usuario
    </mat-card-header>
    <mat-card-content>
      <h1 class="mat-display-1">
        Próximamente estará disponible el componente "usuario" dentro de la aplicación
      </h1>
    </mat-card-content>