<mat-card>
  <table class="tblPuertas">
    <tr>
      <th>
        <mat-card class="cardSalas">
          <mat-card-header class=titleCard>
            Salas Informática piso 5
          </mat-card-header>
          <mat-form-field>
            <mat-label>Seleccione una sala</mat-label>
            <mat-select [(ngModel)]="roomSelect" name="selRoom">
              <mat-option *ngFor="let selRoom of rooms" [value] = "selRoom.nombre">
                {{selRoom.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-label>Sala Seleccionada: {{roomSelect}}</mat-label>
        </mat-card>
      </th>
      <th>

      </th>
      <th>
        <mat-card class="cardSalas">
          <mat-card-header class=titleCard>
            Usuarios
          </mat-card-header>

          <mat-form-field>
            <mat-label>Seleccione un usuario</mat-label>
            <!--<mat-select [(ngModel)]="userSelect" name="selUsuario">-->
            <mat-select [(ngModel)]="userSelect" name="selUser">
              <mat-option *ngFor="let selUser of users" [value] = "selUser.nombre">
                {{selUser.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>
          <mat-label>Usuario seleccionado: {{userSelect}}</mat-label>
        </mat-card>
      </th>
    </tr>
  </table>
  <div class="boton">
    <button mat-flat-button color="primary" (click)="sendText()">Abrir Sala!</button> 
  </div>
  <div class="card-informacion">
      <mat-card class="cardSalas">
          <mat-card-header class=titleCard>
            SALA Y USUARIO SELECCIONADOS
          </mat-card-header>
          <mat-label>{{roomUser}}</mat-label>
          <br>  
      </mat-card>
  </div>
</mat-card>  

