<mat-card >
  <mat-card-header>
    <div mat-card-avatar class="tiulo-card"></div>
    <mat-card-title>Aplicación para la apertura de puertas de las salas de informática</mat-card-title>
    <mat-card-subtitle>Facultad de ingeniería Universidad Distrital Francisco José de Caldas</mat-card-subtitle>
  </mat-card-header>
</mat-card>